body{
  margin:0;
  background-color: rgb(236, 242, 248);
  font-size: 13px;
}

.article-photo{
  width: 40%;
  float: left;
  height:300px;
}
.article-img{
  width:100%;
  height:100%;
  box-shadow:0 13px 7px -2px rgba(179,172,179,1);
  border-radius: 2%;
}
.article-content{
  width : 60%;
  height:100%;
  float:right;
  background-color: white;
  text-align : left;
  font-family: 'Manrope', sans-serif;
  border-radius: 2%;
  box-shadow:0 13px 7px -2px rgba(179,172,179,1);


}
.article-preview{
  width:60%;
  margin : 20% 25%;
  border-radius: 20%;
  display: inline-block;
  ;

}
p{
  padding:1% 12% 0;
  font-weight:400;
  color : rgb(85, 100, 119);
}
h3{
  padding:10px;
  margin : 0;
  padding:10% 12% 0;
  font-size: 20px;
}
.article-text{
  height:70%;
}
.user-info{
  height:20%;
  text-align: left;
  padding:2% 50px;

}

.user-info img{
  display: inline-block;
  vertical-align: top;

}

.user-name   h4{
  height:50%;
  margin: 0;
}
.user-name p{
  height:40%;
  margin:0;
  padding: 0;
  color:rgb(158, 175, 194);
  font-weight: 100;
}
.user-pic{
  height:100%;
  width:15%;
  border-radius: 50%;
  margin-left: 10px;
}
.user-name{
  height: 90%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 160px

}
.share-icon{

  visibility: visible;
  font-size: 1rem;
}
.icon{
  margin: 5%;
}
.pop-up:hover{
  background-color: black;
  border-radius: 50%;

  color:white;
}
.pop-up{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.pop-up .pop-up-text {
  visibility: hidden;
  width: 160px;
  background-color: rgb(72, 85, 106);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 160%;
  left: 50%;
  margin-left: -80px;
}
.pop-up .pop-up-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(72, 85, 106) transparent transparent transparent;
}
.pop-up .show{
  visibility: visible;

}
@media (max-width : 1000px){
  .article-photo,.article-content{
    float:none;
    display: block;
    width:100%;

  }
  .article-content{
    height : 100%;
    text-align: center;
  }
  .user-info{
    text-align: center;
  }
  .user-name{
    margin-right: 7.5%;
  }

  .article-img{
    box-shadow:0 0 0 0 rgba(179,172,179,1);
  }
  
}
